body{
    background-color: #faf8f8;
}
.container{
    width: 600px;
    margin: 30px auto;
}

.subtitle{
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    border-bottom: 2px solid #333;
    padding: 5px;
}

.add-to-do__text-task{
    font-family: Arial, serif;
    font-size: 18px;
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.add-to-do__button-add{
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    color: #333;
    float: right;
}
.add-to-do__button-add:hover{
    color: grey;
}

.tasks__list-tasks{
    width: 600px;
    height: auto;
    padding: 0;
}
.list-tasks__style{
    list-style-type: none;
    padding: 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.list-tasks__item_checkbox{
    transform: scale(2);
    position: absolute;
    margin: 10px 10px 0 10px;
}
.list-tasks__item_text-task{
    word-wrap:break-word;
    display: block;
    font-family: Arial, serif;
    font-size: 18px;
    height: auto;
    width: 520px;
    padding: 5px;
    margin: 0 40px 0 40px;
    box-sizing: border-box;
}
.list-tasks__item_delete-task{
    position: absolute;
    margin: 0 0 0 560px;
    font-size: 24px;
    background-color: transparent;
    color: red;
    visibility: hidden;
    border-color: transparent;
}
.list-tasks__item_delete-task:hover{
    color: #a40b0b;
}
.list-tasks__style:hover .list-tasks__item_delete-task{
    visibility: visible;
}
.list-tasks__style_done > .list-tasks__item_text-task{
    color: grey;
    text-decoration: line-through;
}